<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="HOME_URL">http://www.styletag.com</entry>
<entry key="TestSuitFile">//util//TestSuit.xlsx</entry>
<entry key="InputDataFile">//util//InputData.xlsx</entry>
<entry key="ChromeDriver">//util//chromedriver</entry>
<entry key="ScreenSchot">//sanity_reports//screenshot//</entry>
<entry key="ReportFilePath">//sanity_reports//report</entry>
<entry key="FromEmailID">tabs@styletag.com</entry>
<entry key="Password">styletag321</entry>
<entry key="ToEmailID">nethravathi.tc@styletag.com,sumit.kumar@styletag.com,rashmi.un@styletag.com,siddesh.sh@styletag.com</entry>

</properties>
